body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121417;
  color: #fff;
}

.container {
  padding: 0;
}

.header {
  padding: 28px 16px;
}

.candidate-detail {
  margin-bottom: 150px;
}

.candidate-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.candidate-info h2 {
  font-size: 22px;
  margin: 0;
}
.candidate-photo-container {
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.candidate-info {
  padding: 20px;
}

.candidate-attribute__title {
  text-align: center;
}

.candidate-attribute__subtitle {
  color: #9CABBA;
}

.candidate-info p {
  margin: 20px 0;
}

.candidate-info h3 {
  font-size: 18px;
  margin: 28px 0 12px;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px 0;
}

.social-link img {
  width: 40px;
  height: 40px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.social-link {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-link img {
  width: 40px;
  height: 40px;
}

.social-link p {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

.video-container {
  text-align: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 15px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}